# Rainsmore Workshop - Day 1


## Dataset #1 description

This dataset comprises ...

### Dataset field description

0.   **times**: Time stamp of the measurement.
1.   **sens**: Link identifier (290 A-B or 523 A-B for the current data).
2.   **TSL_mean**: Mean Transmitted Signal Level (TSL) in dBm.
3.   **RSL_mean**: Mean Received Signal Level in dBm.
4.   **Rgage**: The measurement of the rainfall for the nearest rain gauge.
5.   **freq**: Frequency of operation of the link in GHz.
6.   **length**: Radio link length (distance from A to B) in km.
7.   **cfakr**: estimated coeffient $a$ of the theoretical relationship between specifit attenuation $k$ (dB/km) and rain rate $R$ in mm/h, given by $k=aR^b$.
8.   **cfbkr**: estimated coeffient $b$ of the theoretical relationship between specifit attenuation $k$ (dB/km) and rain rate $R$ in mm/h, given by $k=aR^b$.
9.   **link**: Link description.
10.  **gage**: Rain gauge identifier (neareast rain gauge).
11.  **dist**: Distance between the middle of the radio link and the nearest rain gauge.
12.  **code**: Link code (290 or 523 for the current data)
13.  **company**: Name of the company operating the radio link.

## Loading and preprocessing the dataset

In order to

In [20]:
## Configure matplotlib figure mode
%matplotlib notebook

# Import required packages
import numpy as np              # Multidimensional (vector, matrices, ...) array processing
import matplotlib.pyplot as plt # Figure plotting
import pandas as pd             # Dataframe processing

# Datasets are loaded as pandas dataframes from the (semicolon) comma separated value (csv) files
# Load the first data set
dataset1_link1 = pd.read_csv("Dataset_1_Link_AB_290_20210828_20210902.csv", sep=";")
# Show basic info about the dataset
dataset1_link1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   times     576 non-null    object
 1   sens      576 non-null    object
 2   TSL_mean  451 non-null    float64
 3   RSL_mean  451 non-null    float64
 4   Rgage     576 non-null    float64
 5   freq      576 non-null    float64
 6   length    576 non-null    float64
 7   cfakr     576 non-null    float64
 8   cfbkr     576 non-null    float64
 9   link      576 non-null    object
 10  gage      576 non-null    object
 11  dist      576 non-null    float64
 12  code      576 non-null    int64
 13  company   576 non-null    object
dtypes: float64(8), int64(1), object(5)
memory usage: 63.1+ KB

In [21]:
# Load the second dataset
dataset1_link2 = pd.read_csv("Dataset_1_Link_AB_523_20210521_20210522.csv", sep=";")
# Show basic info about the dataset
dataset1_link2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   times     192 non-null    object
 1   sens      192 non-null    object
 2   TSL_mean  162 non-null    float64
 3   RSL_mean  162 non-null    float64
 4   Rgage     192 non-null    float64
 5   freq      192 non-null    int64
 6   length    192 non-null    float64
 7   cfakr     192 non-null    float64
 8   cfbkr     192 non-null    float64
 9   link      192 non-null    object
 10  gage      192 non-null    object
 11  dist      192 non-null    float64
 12  code      192 non-null    int64
 13  company   192 non-null    object
dtypes: float64(7), int64(2), object(5)
memory usage: 21.1+ KB

In [22]:
# Show the first lines of the dataset
dataset1_link1.head()

,times,sens,TSL_mean,RSL_mean,Rgage,freq,length,cfakr,cfbkr,link,gage,dist,code,company
0,2021-08-28 00:10:00,290 A-B,5.0,-52.7,0.0,14.5,1.02,0.0473,1.1022,10G_MPR_NDOGBONG_3 - MPR_MISSOKE_UNIVERSITE_1,Meteo_IUT,0.193579,290,Orange
1,2021-08-28 00:25:00,290 A-B,5.0,-52.7,0.0,14.5,1.02,0.0473,1.1022,10G_MPR_NDOGBONG_3 - MPR_MISSOKE_UNIVERSITE_1,Meteo_IUT,0.193579,290,Orange
2,2021-08-28 00:40:00,290 A-B,5.0,-52.7,0.0,14.5,1.02,0.0473,1.1022,10G_MPR_NDOGBONG_3 - MPR_MISSOKE_UNIVERSITE_1,Meteo_IUT,0.193579,290,Orange
3,2021-08-28 00:55:00,290 A-B,5.0,-52.8,0.0,14.5,1.02,0.0473,1.1022,10G_MPR_NDOGBONG_3 - MPR_MISSOKE_UNIVERSITE_1,Meteo_IUT,0.193579,290,Orange
4,2021-08-28 01:10:00,290 A-B,5.0,-52.9,0.0,14.5,1.02,0.0473,1.1022,10G_MPR_NDOGBONG_3 - MPR_MISSOKE_UNIVERSITE_1,Meteo_IUT,0.193579,290,Orange

In [23]:
# Show the first lines of the dataset
dataset1_link2.head()

,times,sens,TSL_mean,RSL_mean,Rgage,freq,length,cfakr,cfbkr,link,gage,dist,code,company
0,2021-05-21 00:10:00,523 A-B,8.0,-37.9,0.0,18,0.41,0.0781,1.0654,10G_MPR_NDOGBONG_2 - MPR_NDOGBONG-SEVEN,Meteo_IUT,0.511151,523,Orange
1,2021-05-21 00:25:00,523 A-B,8.0,-37.9,0.0,18,0.41,0.0781,1.0654,10G_MPR_NDOGBONG_2 - MPR_NDOGBONG-SEVEN,Meteo_IUT,0.511151,523,Orange
2,2021-05-21 00:40:00,523 A-B,8.0,-37.9,0.0,18,0.41,0.0781,1.0654,10G_MPR_NDOGBONG_2 - MPR_NDOGBONG-SEVEN,Meteo_IUT,0.511151,523,Orange
3,2021-05-21 00:55:00,523 A-B,8.0,-37.9,0.0,18,0.41,0.0781,1.0654,10G_MPR_NDOGBONG_2 - MPR_NDOGBONG-SEVEN,Meteo_IUT,0.511151,523,Orange
4,2021-05-21 01:10:00,523 A-B,8.0,-37.9,0.0,18,0.41,0.0781,1.0654,10G_MPR_NDOGBONG_2 - MPR_NDOGBONG-SEVEN,Meteo_IUT,0.511151,523,Orange